<html>
    <head>
        <title>FlyingFox Blog</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    
    <body>
        
             <div class="ui inverted menu">
                <div class="ui container">
                    <div class="header item"><i class="users icon"></i>FlyingFox Blog</div>
                    <a href="/" class="item">Home</a>
                    <a href="/blogs/new" class="item">New Post</a>
                </div>
                <div class="ui container">
                    <div class="right menu">
                        <a class="ui item" href="/register">
                          Register
                        </a>
                        <a class="ui item" href="/login">
                          Login
                        </a>
                        <a class="ui item" href="logout">
                          Logout
                        </a>
                    </div>
                </div>
            </div>
        
        
        
    