<html>
    <head>
        <title>FlyingFox Blog</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    
    <body>
        
            <nav class="ui inverted menu">
                <div class="ui container">
                    <ul class="header item">
                        <li><i class="users icon"></i>FlyingFox Blog</li>
                        <li><a href="/" class="item">Home</a></li>
                        <li><a href="/blogs/new" class="item">New Post</a></li>
                    </ul>
                </div>
                <div class="ui container">
                    <div class="right menu">
                        <ul class="navFlex">
                            <% if(!currentUser) { %>
                                <li><a class="ui item" href="/register">Register</a></li>
                                <li><a class="ui item" href="/login">Login</a></li>
                            <% } else { %>
                                <li class="signedInAs">Signed in as <%= currentUser.username %></li>
                                <li><a class="ui item" href="logout">Logout</a></li>
                            <% } %>
                            
                            
                        </ul>
                    </div>
                </div>
            </nav>
        
        
        
    