nav  {
    
}

nav ul li {
    list-style: none;
    margin-right: 1.5em;
}

#hamburger {
    display: none;
    
}

#logo {
    margin-top: .7em;
}

.navFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mobileHide {
    
}

.indexImg {
    /*height: 40%;*/
    display: block;
    margin: 0 auto;
}

.show-img {
     height: 40%; 
    display: block;
    margin: 0 auto;
}

i.icon {
    font-size: 2em;
}

.overallContainer {
    margin-top: 7em;
    margin-bottom: 3em;
}


.text-left {
    margin-left: 3em;
    margin-top: 1em;
}

.header {
    text-align: center;
}

.ui.segment {
    margin-top: 5em;
}

.sideBySide {
    display: flex;
    flex-direction: row;
}

.commentsText {
    font-size: .85rem;
}

@media only screen and (max-device-width : 400px) {

    .indexImg {
        height: 20%;
    }
    
    #hamburger {
        display: block;
        position: absolute;
        top: 40;
        left: 50;
        font-size: 4rem;
    }
    
    
    .show-img {
        height: 20%;
    }
    
    .navFlex {
        flex-direction: column;
        position: relative;
        top: 35;
        left: 30;
    }
    
    .dropdown {
        display: none;
    }
    

}